## Formatting

In [1]:
import pandas as pd
import pandas_profiling
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file

In [2]:
df = pd.read_csv('CSVs/daily_spread.csv')
df_c = pd.read_csv('CSVs/corp_yield.csv')
df_t = pd.read_csv('CSVs/10yr.csv')

In [11]:
df_list = [df, df_c, df_t]

In [3]:
df.head()

         Date  Spread
0  1996-12-31    0.66
1  1997-01-02    0.56
2  1997-01-03    0.57
3  1997-01-06    0.57
4  1997-01-07    0.56

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5821 non-null   object
 1   Spread  5821 non-null   float64
dtypes: float64(1), object(1)
memory usage: 91.1+ KB

In [4]:
df_c.head()

         Date  BAMLC0A0CMEY
0  1996-12-31          7.09
1  1997-01-02          7.10
2  1997-01-03          7.09
3  1997-01-06          7.11
4  1997-01-07          7.13

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5821 non-null   object
 1   Spread  5821 non-null   float64
dtypes: float64(1), object(1)
memory usage: 91.1+ KB

In [5]:
df_t.head()

         Date  10 YR
0  1996-12-31   6.43
1  1997-01-02   6.54
2  1997-01-03   6.52
3  1997-01-06   6.54
4  1997-01-07   6.57

In [10]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5821 non-null   object
 1   BAMLC0A0CMEY  5821 non-null   float64
dtypes: float64(1), object(1)
memory usage: 91.1+ KB

In [13]:
for thing in df_list:
    thing['Date'] = pd.to_datetime(thing['Date'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5821 non-null   datetime64[ns]
 1   Spread  5821 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 91.1 KB

In [17]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5821 non-null   datetime64[ns]
 1   10 YR   5821 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 91.1 KB

In [18]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5821 entries, 0 to 5820
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5821 non-null   datetime64[ns]
 1   BAMLC0A0CMEY  5821 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 91.1 KB

In [22]:
for thing in df_list:
    thing.set_index('Date', inplace=True)

KeyError: "None of ['Date'] are in the columns"

In [23]:
df.head()

            Spread
Date
1996-12-31    0.66
1997-01-02    0.56
1997-01-03    0.57
1997-01-06    0.57
1997-01-07    0.56

In [24]:
df_c.head()

        Date  BAMLC0A0CMEY
0 1996-12-31          7.09
1 1997-01-02          7.10
2 1997-01-03          7.09
3 1997-01-06          7.11
4 1997-01-07          7.13

In [26]:
df_c.set_index('Date', inplace=True)

In [28]:
df_c.head()

            BAMLC0A0CMEY
Date
1996-12-31          7.09
1997-01-02          7.10
1997-01-03          7.09
1997-01-06          7.11
1997-01-07          7.13

In [29]:
df_t.set_index('Date', inplace=True)

In [31]:
df_t.head()

            10 YR
Date
1996-12-31   6.43
1997-01-02   6.54
1997-01-03   6.52
1997-01-06   6.54
1997-01-07   6.57

In [35]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5821 entries, 1996-12-31 to 2020-04-20
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   10 YR   5821 non-null   float64
dtypes: float64(1)
memory usage: 91.0 KB

In [36]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5821 entries, 1996-12-31 to 2020-04-20
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BAMLC0A0CMEY  5821 non-null   float64
dtypes: float64(1)
memory usage: 91.0 KB

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5821 entries, 1996-12-31 to 2020-04-20
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Spread  5821 non-null   float64
dtypes: float64(1)
memory usage: 91.0 KB

## Resampling and Dataframes

In [38]:
df_monthly = df.resample('MS')
df_monthly_mean = df_monthly.mean()
df_weekly = df.resample('W')
df_weekly_mean = df_weekly.mean()


dft_monthly = df_t.resample('MS')
dft_monthly_mean = dft_monthly.mean()
dft_weekly = df_t.resample('W')
dft_weekly_mean = dft_weekly.mean()



dfc_monthly = df_c.resample('MS')
dfc_monthly_mean = dfc_monthly.mean()
dfc_weekly = df_c.resample('W')
dfc_weekly_mean = dfc_weekly.mean()

In [39]:
df_monthly_mean.to_csv('CSVs/spread_monthly.csv')
df_weekly_mean.to_csv('CSVs/spread_weekly.csv')

dft_monthly_mean.to_csv('CSVs/10yr_monthly.csv')
dft_weekly_mean.to_csv('CSVs/10yr_weekly.csv')

dfc_monthly_mean.to_csv('CSVs/corp_monthly.csv')
dfc_weekly_mean.to_csv('CSVs/corp_weekly.csv')